<div class="flex-col justify-center py-10 px-20">
    <button *ngIf="IsAlarmSet" class="bg-white text-2xl text-black focus:outline-none py-2 px-6 sm:py-1 sm:-mt-2 md:-mt-2" (click)="setAlarm()">
        Set Alarm
    </button>
    <div *ngIf="!IsAlarmSet">
        <button class="bg-white text-2xl text-black focus:outline-none py-2 px-12 sm:py-1 sm:-mt-2 md:-mt-2" (click)="cancelAlarm()">Cancel</button>
    </div>
    <div *ngIf="soundPlaying">
        <p class="animate-pulse text-3xl text-center text-black md:text-2xl sm:py-1 sm:-mt-2 md:-mt-2">Wake up!</p>
        <button class="bg-white text-2xl text-black focus:outline-none py-2 px-16 sm:py-1 sm:-mt-6 md:py-0" (click)="stopAlarmAndSound()">
            Stop Alarm
        </button>
    </div>
</div>
