<div class="shadow-2xl flex px-56 py-10 m-3 bg-gray-100  md:flex-col sm:flex-col">
        <div class="flex-col sm:text-center md:text-center">
            <span class="block font-light text-black text-6xl sm:text-4xl md:text-2xl">{{day}}</span>
            <span class="block text-4xl text-black p-1 font-light sm:text-2xl md:text-base">DAY</span>
        </div>
        <div class="-mt-12 p-12 text-6xl text-gray-700  sm:hidden md:hidden">:</div>
        <div class="flex sm:items-stretch">
            <div class="hour-container">
                <div class="flex font-light text-black">
                    <span id="hoursOne" class="block text-6xl sm:text-4xl md:text-2xl sm:text-2xl">{{hoursOne}}</span>
                    <span id="hoursTwo" class="block text-6xl sm:text-4xl md:text-2xl sm:text-2xl">{{hoursTwo}}</span>
                </div>
                <span class="block text-4xl text-black p-1 font-light sm:text-2xl sm:text-2xl md:text-base">HOURS</span>
                
            </div>
            <div class="-mt-8 p-8 text-6xl text-gray-700 sm:-mt-12 md:-mt-12">:</div>
            <div class="minute-container">
                <div class="flex font-light text-black">
                    <span id="minutesOne" class="block text-6xl sm:text-4xl md:text-2xl sm:text-2xl">{{minutesOne}}</span>
                    <span id="minutesTwo" class="block text-6xl sm:text-4xl md:text-2xl sm:text-2xl">{{minutesTwo}}</span>
                </div>
                <span class="block text-4xl text-black p-1 font-light sm:text-2xl sm:text-2xl md:text-base">MINUTES</span>
               
            </div>
        </div>
    </div>
    <div>
        <app-plus-minus-button class="flex justify-center" (eventHourOne)= "updateHourOne($event)"
        (eventHourTwo)= "updateHourTwo($event)" (eventMinuteOne)= "updateMinuteOne($event)"
        (eventMinuteTwo)= "updateMinuteTwo($event)"></app-plus-minus-button>
    </div>


